name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: "33.0.2"

      - name: Install Bubblewrap CLI
        run: npm install -g @bubblewrap/cli

      - name: Init Bubblewrap
        run: npx bubblewrap init --manifest=manifest.json --packageId=com.nuqtaziyaa.app --name="Nuqtaziyaa App" --skipPwaValidation --nonInteractive

      - name: Build APK
        run: npx bubblewrap build --non-interactive

      - name: Upload APK artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apk-files
          path: |
            app-release.apk
            app-release-bundle.aab
